<!-- Texto a la derecha del icono del menu movil -->

.mobile_menu_bar:after {
  position: relative !important;
  content: 'MENU';
  bottom: 9px;
  left: 10%;
  color: #363636;
}

<!-- Texto a la izquierda del icono del menu movil -->

#et_mobile_nav_menu:before {
    content: 'MENU';
    font-size: 14px;
    position: absolute !important;
    bottom: 29px;
    right: 35px;
    color: #363633;
}
